<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

{{ if (not (eq .File.Dir "blog/")) }}
{{ if (or (.Site.Params.small_banner_logo) (and (.IsPage) (not (.Site.Params.large_banner_logo)))) }}
<div class="header column">
{{ else }}
<div class="header header-home column">
{{ end }}
    <div class="container">
        <img class="logo" src="{{ .Site.Params.logofile }}" alt="photo">
        <div class="content titlestuff">
            <a href="/">
              <div class="name">
                <h1>
                    {{ .Site.Title }}
                </h1>
              </div>
            </a>
            <nav>
                <ul>
                  Computer Science PhD Candidate
                </ul>
                <ul>
                  rohany AT cs DOT stanford DOT edu
                </ul>
            </nav>
            <div class="icons">
                {{ if .Site.Params.scholar }}
                    <a href="{{ .Site.Params.scholar}}" rel=me target="_blank">
                        <img class="icon" src="/img/scholar.svg" alt="scholar" />
                    </a>
                {{ end }}

                {{ if .Site.Params.github }}
                    <a href="https://github.com/{{ .Site.Params.github }}" rel=me target="_blank">
                        <img class="icon" src="/img/github.svg" alt="github" />
                    </a>
                {{ end }}

                {{ if .Site.Params.twitter }}
                    <a href="https://twitter.com/{{ .Site.Params.twitter }}" rel=me target="_blank">
                        <img class="icon" src="/img/twitter.svg" alt="twitter" />
                    </a>
                {{ end }}

                {{ if .Site.Params.linkedin }}
                    <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}" rel=me target="_blank">
                        <img class="icon" src="/img/linkedin.svg" alt="linkedin" />
                    </a>
                {{ end }}
            </div>
        </div>
    </div>

</div>
{{ end }}
